﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #000
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('../images/g0tgus.jpg');
    /*background-image: url('../images/beer-pub-wood-noir.jpg');*/
    margin: 0;
    color: white !important;
}

table.table {
    background: rgba(0,0,0,.3);
    /*background-color: black;*/
    /*opacity: 0.1;*/
    color: white !important;
}

tbody {
    background: rgba(0,0,0,.3);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.dataTables_info {
    color: white !important;
}

.dataTables_filter {
    color: white !important;
}

input[type="search"] {
    color: white !important;
}

select[name="table_id_length"] {
    color: white;
    background-color: black !important;
}

select > option {
    color: white;
    background-color: black !important;
}

.dataTables_length {
    color: white !important;
}

.dataTables_filter label {
    color: white !important;
}

span > a.paginate_button {
    color: white !important;
}

.dataTables_empty {
    background-color: black !important;
}

tbody > tr {
    background-color: rgba(0,0,0,.1) !important;
}