﻿@model BeerOverflow.Service.DTO.BeerDTO

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Beer</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" type="text" data-val="true" data-val-required="The name field is required." />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ABV" class="control-label"></label>
                <input asp-for="ABV" class="form-control" type="text" data-val="true" data-val-required="The name field is required." />
                <span asp-validation-for="ABV" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BreweryId" class="control-label">Brewery Name</label>
                <select asp-for="BreweryId" class="form-control" asp-items="ViewBag.BreweryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StyleId" class="control-label">Style Name</label>
                <select asp-for="StyleId" class="form-control" asp-items="ViewBag.StyleId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                    <a class="btn bg-white mx-2" asp-action="List">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
