﻿@model BeerOverflow.Models.BeerReviewViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Are you sure you want to delete this beer review?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Review)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Review)
        </dd>
    </dl>
    
    <form asp-action="DeleteReviewConfirmed">
        <input type="hidden" asp-for="BeerId" name="beerId" />
        <input type="hidden" asp-for="Id" name="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a class="btn bg-white mx-2"asp-controller="Beers" asp-action="List">Back to List</a>
    </form>
</div>
