﻿@model BeerOverflow.Service.DTO.BeerDTO

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Are you sure you want to delete this beer?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ABV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ABV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BreweryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BreweryId)
        </dd class>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StyleId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StyleId)
        </dd class>
    </dl>
    
    <form asp-action="DeleteConfirmed">
        <input type="hidden" asp-for="Id" />
            <a class="btn bg-white" asp-action="List">Back to List</a>
        <input type="submit" value="Delete" class="btn btn-danger mx-2" />
    </form>
</div>
