﻿@model BeerOverflow.Models.BeerViewModel

@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (Model.ShowSuccessMessage)
    {
        <script>window.alert('Success!')</script>
    }
}


<h1>Beer Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ABV)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ABV)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BreweryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BreweryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StyleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StyleName)
        </dd>
    </dl>
</div>
<br>

@{
    if (Model.Rating == -1)
    {
        <h5>This beer has not been rated yet.</h5>
    }
    else
    {
        <h5>Beer rating: @Model.Rating.ToString()</h5>
    }
}
<br />

    @if (SignInManager.IsSignedIn(User) && UserManager.GetUserAsync(User).Result.IsBanned == false)
    {
        var user = UserManager.GetUserAsync(User).Result;

        <div class="form-group">
            <div class="d-flex float-left mr-2">
                <form asp-controller="Users" asp-action="AddToWishlist">
                    <div asp-validation-summary="ModelOnly"></div>
                    <input class="btn bg-white" type="submit" value="Add to your Wishlist">
                    <input type="hidden" name="beerId" value=@Model.Id>
                    <input type="hidden" name="userId" value="@user.Id">
                </form>
            </div>
            <div class="d-flex">
                <form class="d-flex float-right" asp-controller="Users" asp-action="AddToDranklist">
                    <div asp-validation-summary="ModelOnly"></div>
                    <input class="btn bg-white" type="submit" value="Add to your Dranklist">
                    <input type="hidden" name="beerId" value=@Model.Id>
                    <input type="hidden" name="userId" value="@user.Id">
                </form>
            </div>
        </div>
    }
    <br />
    @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin")))
    {
        <a class="btn bg-white mx-1 mb-3" asp-action="Edit" asp-route-id="@Model.Id">Edit </a>
        <a class="btn bg-white mx-1 mb-3" asp-action="Unlist" asp-route-id="@Model.Id">Unlist </a>;
        <a class="btn bg-white mx-1 mb-3" asp-action="Delete" asp-route-id="@Model.Id"> Delete </a>;
    }
    <a class="btn bg-white mx-1 mb-3" asp-action="List">Back to List</a>
<br />

@if (SignInManager.IsSignedIn(User) && UserManager.GetUserAsync(User).Result.IsBanned == false)
{
    <h5>Provide feedback for this beer</h5>
    <br />

    <div class="form-group">
        <form asp-action="RateBeer">
            <label for="rating">Rate this beer from 1 to 10:</label>
            <select name="rating" id="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <input type="hidden" name="beerId" value=@Model.Id>
            <div class="form-group">
                <input type="submit" value="Rate" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <br />
    <div class="col-md-4">
        <form asp-action="CreateReview">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label for="review">Review:</label><br>
            <textarea type="" id="review" name="beerReview"></textarea>
            <input class="btn bg-white" type="submit" value="Submit">
            <input type="hidden" name="beerId" value=@Model.Id>
        </form>
    </div>
}

<br />


@if (Model.BeerReviews != null && Model.BeerReviews.Count() > 0)
{
    <h6>What others said about this beer:</h6>

    <table id="table_id">
        <thead>
            <tr>
                <th>
                    @*User*@
                </th>
                <th>
                    @*Review*@
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BeerReviews)
            {
                var user = UserManager.GetUserAsync(User).Result;
                var parameters = new Dictionary<string, string>()
            {
                    {
                        "id", item.Id.ToString()
                    },
                    {
                        "beerId", Model.Id.ToString()
                    }
                };

                if(user == null)
                {
                    user = new User
                    {
                        Id = 99999
                    };
                }

                var beerIdUserId = new Dictionary<string, string>()
            {
                    {
                        "id", item.Id.ToString()
                    },
                    {
                        "userId", user.Id.ToString()
                    },
                    {
                        "beerId", Model.Id.ToString()
                    }
                };

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Review)
                    </td>
                    <td>
                        @if (SignInManager.IsSignedIn(User) && UserManager.GetUserAsync(User).Result.IsBanned == false)
                        {
                            <a class="btn bg-warning p-2" asp-action="FlagReview" asp-route-id="@item.Id" asp-all-route-data="parameters">  Flag Review </a>;
                            <a>@item.Likes.ToString() Likes</a>
                            <a class="btn bg-success p-2" asp-action="LikeReview" asp-route-id="@item.Id" asp-all-route-data="beerIdUserId"> Like </a>;
                            <a class="btn bg-danger p-2 mx-1" asp-action="DislikeReview" asp-route-id="@item.Id" asp-all-route-data="beerIdUserId"> Dislike</a>;
                        }
                        @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin")))
                        {
                            <a class="btn bg-white" asp-action="EditReview" asp-route-id="@item.Id" asp-all-route-data="parameters">Edit Review</a>;
                            <a class="btn bg-white mx-2" asp-action="DeleteReview" asp-route-id="@item.Id" asp-all-route-data="parameters">Delete </a>;
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
