﻿@model BeerOverflow.Models.BeerReviewViewModel

@{
    ViewData["Title"] = "DislikeReview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Dislike</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Review)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Review)
        </dd>
    </dl>
    
    <form asp-controller="Beers" asp-action="DislikeReviewConfirmed">
        <input type="hidden" asp-for="BeerId" name="beerId" />
        <input type="hidden" asp-for="UserId" name="userId" />
        <input type="submit" value="Dislike review" class="btn btn-danger" /> 
        <a class="btn bg-white" asp-action="List">Back to List</a>
    </form>
</div>
