﻿@model BeerOverflow.Models.BeerReviewViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>Edit beer review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditReview">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label" value="review"></label>
                <input asp-for="Review" class="form-control" name="review" />
                <span asp-validation-for="Review" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="BeerId" name="beerId" value=@Model.BeerId/>
            <input type="hidden" asp-for="Id"/> @*name="id" value=@Model.Id />*@
            <div class="form-group">
                <input type="submit" value="EditReview" class="btn btn-danger" />
                <a class="btn bg-white mx-2" asp-action="List">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
