﻿@model BeerOverflow.Models.BeerReviewViewModel

@{
    ViewData["Title"] = "FlagReview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Are you sure you want to flag this beer review as inappropriate?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Review)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Review)
        </dd>
    </dl>
    
    <form asp-action="FlagReviewConfirmed">
        <input type="hidden" asp-for="BeerId" name="beerId"/>
        <input type="hidden" asp-for="Id" name="id" />
        <input type="submit" value="Flag review" class="btn btn-warning" /> 
        <a class="btn bg-white mx-2" asp-action="List">Back to List</a>
    </form>
</div>
