﻿@model BeerFilterList
@*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">*@


@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Complete list of our beers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-4">
    <form asp-action="List">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label class="control-label">Filter by country</label>
            <label asp-for="FilterCriteria.Country" class="control-label"></label>
            <select asp-for="FilterCriteria.Country" class="form-control" asp-items="ViewBag.Countries">
                <option value="-1">All</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">Filter by style</label>
            <label asp-for="FilterCriteria.Style" class="control-label"></label>
            <select asp-for="FilterCriteria.Style" class="form-control" asp-items="ViewBag.Styles">
                <option value="-1">All</option>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Filter" class="btn bg-white" />
            @if (SignInManager.IsSignedIn(User) && UserManager.GetUserAsync(User).Result.IsBanned == false)
            {
                <a class="btn bg-white mx-2" asp-action="Create">Create new beer</a>
                @*<a href="https://localhost:5001/Beers/Create">link text</a>*@
            }
        </div>
    </form>
</div>

@{
    if (!Model.ListBeers.Any())
    {
        <h3>No beers were found under the specified criteria</h3>
    }
    else
    {
        <h3>List of our beers</h3>
    }
}

<table id="table_id">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                ABV
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListBeers)
        {
            <tr style="background-color: black">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ABV)
                </td>
                <td style="position:relative; float:right">
                    <button class="btn bg-white mx-1">
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                    </button>
                    @*<a asp-action="Details" asp-route-id="@item.Id">Details</a>*@
                    @if (SignInManager.IsSignedIn(User) && UserManager.GetUserAsync(User).Result.IsBanned == false && (User.IsInRole("Admin")))
                    {
                        @*<a asp-action="Edit" asp-route-id="@item.Id">| Edit |</a>;
                            <a asp-action="Unlist" asp-route-id="@item.Id">Unlist |</a>;
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>;*@
                        <button class="btn bg-white">
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        </button>
                        <button class="btn bg-white mx-1">
                            @Html.ActionLink("Unlist", "Unlist", new { id = item.Id })
                        </button>
                        <button class="btn bg-white">
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script>
    window.$('#table_id').DataTable();
</script>