﻿@model BeerOverflow.Service.DTO.BeerDTO

@{
    ViewData["Title"] = "Unlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Are you sure you want to unlist this beer?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ABV)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ABV)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BreweryId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BreweryId)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StyleId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StyleId)
        </dd>
    </dl>

    <form asp-action="UnlistConfirmed">
        <input type="hidden" asp-for="Id" />
        <button class="btn bg-white mx-2">
            <a asp-action="List">Back to List</a>
        </button>
        <input type="submit" value="Unlist" class="btn btn-danger" />
    </form>
</div>
