﻿@model IEnumerable<BeerOverflow.Service.DTO.StyleDTO>
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Index";
}

<h1>Beer Styles</h1>

<p>
    <a class="btn bg-white" asp-action="Create">Create New</a>
</p>
<table id="table_id">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style="color:white; position:relative; float:right">
                    <button class="btn bg-white mx-1">
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                    </button>
                    @if (SignInManager.IsSignedIn(User) && UserManager.GetUserAsync(User).Result.IsBanned == false && (User.IsInRole("Admin")))
                    {
                        <button class="btn bg-white mx-1">
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        </button>
                        <button class="btn bg-white mx-1">
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script>
    window.$('#table_id').DataTable();
</script>
