﻿@model BeerOverflow.Service.DTO.BreweryDTO
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Details";
}

<h1>Brewery Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CountryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CountryName)
        </dd>
    </dl>
</div>
<div>

    @if (SignInManager.IsSignedIn(User))
    {
        <button class="btn bg-primary mx-2 text-white">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "text-white" })
        </button>
    }


    <a class="btn bg-white" asp-action="Index">Back to List</a>
</div>
