﻿@model BeerOverflow.Service.DTO.BreweryDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Brewery</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                <input asp-for="CountryId" class="form-control" />
                <span asp-validation-for="CountryId" class="text-danger"></span>                      
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mx-2" />
                <a class="btn bg-white"  asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>


