﻿@model IEnumerable<BreweryDTO>

@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Test";
}

<h1>Breweries</h1>

@if (SignInManager.IsSignedIn(User) && UserManager.GetUserAsync(User).Result.IsBanned == false)
{
    <a class="btn bg-white mb-3" asp-action="Create">Create New</a>
}
<table id="table_id">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="background-color: black">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>
                <td style="color:white;">
                    <button class="btn bg-white mx-1">
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                    </button>

                    @if (SignInManager.IsSignedIn(User) && UserManager.GetUserAsync(User).Result.IsBanned == false)
                    {

                        <button class="btn bg-white">
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        </button>
                        <button class="btn bg-white">
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </button>

                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script>
    window.$('#table_id').DataTable();
</script>