﻿@model UserViewModel

@{
    ViewData["Title"] = "BanUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Are you sure you want to ban this user?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

    <form asp-action="BanUser">
        <input type="hidden" asp-for="Id" />
        <a class="btn bg-white" asp-action="Index">Back to List</a>
        <input type="submit" value="Ban" class="btn btn-danger mx-2" /> 
    </form>
</div>
