﻿@model UserViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Users</h1>

<p>
    <a class="btn bg-white mb-1 mt-1" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <button class="btn bg-white mx-2">
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </button>
                    <button class="btn bg-white mx-2">
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </button>
                    <button class="btn bg-white mx-2">
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </button>
                </td>
                @if (item.IsBanned == false)
                {
                    <td>
                        <button class="btn bg-danger mx-2">
                            <a asp-action="BanUser" asp-route-id="@item.Id">Ban User</a>
                        </button>
                    </td>
                }
                else
                {
                    <td>
                        <button class="btn bg-success mx-2">
                            <a asp-action="UnbanUser" asp-route-id="@item.Id">Unban User</a>
                        </button>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
