﻿@model UserDTO


<h1>You have successfully logged in @Model.UserName!</h1>

<div>
    <button class="btn bg-white mt-3">
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
    </button>
</div>
