﻿@model BeerViewModel

<div class="col-md-4">
    <img src="~/images/5.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.ABV</p>
        <a asp-area="" asp-controller="Beers" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary">Find out more</a>
    </div>
</div>
