﻿@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BeerOverflow</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navbar.css" />
    <link rel="stylesheet" href="~/css/datatable.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <header>
        <div style="height:75px">
            <nav style="background-color:black" class="navbar navbar-expand-lg navbar-light fixed-top">
                <a class="navbar-brand" href="#">BEEROVERFLOW</a>
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="hoverable">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="hoverable">
                                <a class="nav-link" asp-area="" asp-controller="Beers" asp-action="List">Beers</a>
                            </li>
                            <li class="hoverable">
                                <a class="nav-link" asp-area="" asp-controller="Countries" asp-action="Index">Countries</a>
                            </li>
                            <li class="hoverable">
                                <a class="nav-link" asp-area="" asp-controller="Brewery" asp-action="Index">Breweries</a>
                            </li>
                            <li class="hoverable">
                                <a class="nav-link" asp-area="" asp-controller="Style" asp-action="Index">Styles</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav">
                            @if (SignInManager.IsSignedIn(User))
                            {

                                @if (User.IsInRole("Admin"))
                                {
                                    <li class="hoverable">
                                        <a class="nav-link " id="register" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                                    </li>
                                }

                                @if (User.Identity.IsAuthenticated)//@if (User.IsInRole("User"))
                                    {
                                        <li class="dropdown hoverable">
                                            <a asp-controller="Home"
                                               class="nav-link " data-toggle="dropdown">Hello, @User.Identity.Name!<b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a class="nav-link text-dark" asp-controller="UserMenu" asp-action="MyWishlist">My Wishlist</a>
                                                </li>
                                                <li>
                                                    <a class="nav-link text-dark" asp-controller="UserMenu" asp-action="MyDranklist">My Dranklist</a>
                                                </li>
                                                <li>
                                                    <a class="nav-link text-dark" asp-controller="UserMenu" asp-action="MyStatus">My Status</a>
                                                </li>
                                            </ul>
                                        </li>
                                    }

                                <li class="hoverable">
                                    <a id="logout" class="nav-link" asp-controller="Users" asp-action="Logout">Logout</a>
                                </li>
                            }
                            else
                            {
                                <li class="hoverable">
                                    <a class="nav-link " id="register" asp-area="" asp-controller="Users" asp-action="Register">Register</a>
                                </li>
                                <li class="hoverable">
                                    <a class="nav-link " id="login" asp-controller="Users" asp-action="Login">Login</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div style="height:50px"></div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - BeerOverflow - Telerik Academy Project<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
