﻿@model User

@{
    ViewData["Title"] = "MyStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body> 
    @if (Model.IsBanned == true)
    {
        <h1>Your status is: Banned</h1>
        <p>You will be unbanned in @Model.BanExpirationDate.ToString()</p>
    }
    else
    {
        <h1>You are not banned.</h1>
    }
</body>