﻿@model IEnumerable<Beer>

@{
    ViewData["Title"] = "MyWishlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Wishlist</h1>


@if (Model.Count() == 0)
{
    <h2>You don't have any beers in your wishlist.</h2>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Beer")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var beer in Model)
            {
            <tr>
                <td>
                    @beer.Name
                </td>

                <td>
                    <button class="btn bg-white mx-2" >
                    <a asp-controller="Beers" asp-action="Edit" asp-route-id="@beer.Id">Edit</a>
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
